/* RESPONSIVE ==================================================== */
@media screen and (max-width: 500px) {
    
    /* GENERAL */

    h1 {
        font-size: 14vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 5vw;
    }
    h4 {
        font-size: 22px;
        line-height: 26px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }
    a,
    a:active,
    a:visited {
        font-size: 16px;
    }


    .flex {
        flex-direction: column;
    }

    .header {
        height: 100vh;
    }

    
    .footer {
        height: auto;
    }

    .header-img h3 {
        margin-bottom: 20vh;
    }





    /* SECTION 1 */
    .section-1 {
        margin: 0;
        width: 100vw;
        height: auto;
        display: block;
    }

    /* Title */
    .section-1-article-1 {
        text-align: center;
        width: 100%;
        height: auto;
    }
   

    /* Olá, me chamo... */
    .section-1-article-1-paragraph {
        background-color: var(--primary-light);
        color: var(--primary-dark);
        width: 80vw;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .section-1-article-1-paragraph h4 {
        max-width: 100%;
        padding-top: 20px;
        line-height: 28px;
    }

    /* My photo */
    .section-1-article-2 {
        width: 60vw;
        height: 60vw;
        object-fit: cover;
        margin: 7vh auto;
    }

        /* My history */
    .section-1-article-3 {
        text-align: center;
        width: 100%;
        height: auto;
    }





    /* SECTION 2 - PROJECTS */
    .section-2 {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    .section-2-photo,
    .section-2-card.breve {
        display: none;
    }

    /* Title */
    .section-2 h1 {
        color: var(--primary-dark);
        position:static;
        margin-bottom: 5vh;
    }

    /* Grid area */
    .section-2-grid {
        width: 100vw;
        align-items: center;
    }

    /* Project card */
    .section-2-card {
        display: inline-block;
        position: relative;
        top: 0;
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
    .proj-title h4,
    .proj-title h5 {
        font-size: 16px;
        padding: 3px;
    }







    /* FOOTER */
    .footer-container-2-nav {
        height: auto;
    }

    /* Title: 'Vamos conversar' */
    .footer-container-1-title {
        text-align: center;
        padding-top: 10vh;
        max-width: 100%;
    }

    .footer-container-2-darker,
    .footer-container-1-photo-1,
    .footer-container-1-photo-2 {
        display: none;
    }

    .footer-container-2-nav-1 {
        height: auto;
        width: 100%;
    }
    .footer-container-2-nav-2 {
        height: auto;
        width: 100%;
        margin-bottom: 40px;
    }
    .footer h4 {
        /* Defines h4 bottom border */
        width: 70%;
    }
    .footer a {
        padding: 7px 0;
    }

}
