/* GRIDS =========================================================== */
.container1 {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
}
.container2 {
    max-width: 50vw;
    width: 100%;
    margin: 0 auto;
}


/* FLEX =========================================================== */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}



